.bg {
  width: 451.19px;
  height: 427.16px;
  display: inline;
  margin-right: 30px;
}

c-g {
  width: 1527px;
  height: 511.156px;
}

.c-i-t {
  width: 209px;
  height: 294.594px;
}

img {
  border-radius: 15px;
}
