<div class="advantages-menu d-flex flex-row w-100">
  <div class="advantage d-flex flex-row">
    <div class="circle-i">
      <a href="#"><i class="fa-solid fa-gift"></i></a>
    </div>
    <div class="d-lg-block d-none">
      <h6 class="icon-box-title fw-semibold">Best Prices & Offers</h6>
      <p class="icon-box-description">Orders $50 or more</p>
    </div>
  </div>
  <div class="advantage d-flex flex-row">
    <div class="circle-i">
      <a href="#"><i class="fa-solid fa-truck"></i></a>
    </div>
    <div class="d-lg-block d-none">
      <h6 class="icon-box-title fw-semibold">Free Delivery</h6>
    <p class="icon-box-description">24/7 amazing services</p>
    </div>
  </div>
  <div class="advantage d-flex flex-row">
    <div class="circle-i">
      <a><i class="fa-solid fa-percent"></i></a>
    </div>
    <div class="d-lg-block d-none">
      <h6 class="icon-box-title fw-semibold">Great Daily Deal</h6>
      <p class="icon-box-description">When you sign up</p>
    </div>
  </div>
  <div class="advantage d-flex flex-row">
    <div class="circle-i">
      <a><i class="fa-solid fa-bag-shopping"></i></a>
    </div>
    <div class="d-lg-block d-none">
      <h6 class="icon-box-title fw-semibold">Wide Assortment</h6>
      <p class="icon-box-description">Mega Discounts</p>
    </div>
  </div>
  <div class="advantage d-flex flex-row">
    <div class="circle-i ">
      <a><i class="fa-solid fa-right-left"></i></a>
    </div>
    <div class="d-lg-block d-none">
      <h6 class="icon-box-title fw-semibold">Easy Returns</h6>
      <p class="icon-box-description">Within 30 days</p>
    </div>
  </div>
</div>