<section class="featured-books mb-5 ms-5">
  <div class="featured-head mb-4 d-flex row w-100">
    <div class=" col-lg-4">
      <h1 class="featured-title mt-5">
        Biographies & Memoirs
      </h1>
    </div>

    <div class="d-none d-lg-block col-lg-6 mt-5"><hr /></div>
    <div class="d-none d-lg-block  col-lg-2 position-relative mt-4 text-center">
      <a
        class="carousel-control-prev1 position-absolute"
        href="#recipeCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span aria-hidden="true"><i class="fa-solid fa-circle cir1"></i></span>
      </a>

      <a
        class="carousel-control-prev1 position-absolute"
        href="#recipeCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span aria-hidden="true"><i class="fa-solid fa-circle cir2"></i></span>
      </a>

      <a
        class="carousel-control-prev1 position-absolute"
        href="#recipeCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span aria-hidden="true"><i class="fa-solid fa-circle cir3"></i></span>
      </a>
    </div>
  </div>

  <div class="container">
    <div class="row featured-card col-12 d-flex">
      <div class=" pt-0 col-lg-5 card11">
        <div class="card1">
          <img src="../images/memoirs.jpg" class="featured-img" />
          <div class="top-left list-el">
            <p class="featured-list">
              <a class="featured-list1" href="#">Historical Biographies</a>
            </p>
            <p class="featured-list">
              <a class="featured-list1" href="#">Leaders & Notable</a>
            </p>
            <p></p>
            <p class="featured-list">
              <a class="featured-list1" href="#">Modern Biographies</a>
            </p>
            <p class="featured-list">
              <a class="featured-list1" href="#">Sports Biographies</a>
            </p>
            <p class="featured-list">
              <a class="featured-list1" href="#">United States Biographies</a>
            </p>
            <p class="featured-list3 mt-4">
              <a class="featured-list2" href="#"
                ><strong>View More</strong>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div
        id="recipeCarousel"
        class="carousel slide caro-s"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner1" role="listbox">
          <div class="carousel-item active caro1">
            <div class="d-none d-lg-block col-lg-2 ms-4 border-end card-grops">
              <div class="product1">
                <div class="card2">
                  <img
                    src="../images/vigdis.jpg"
                    class="card-img-top feature-img"
                    alt="..."
                  />
                  <div
                    class="icons d-flex flex-column align-items-center animated-icons"
                  >
                    <div class="circle-i circle-i1">
                      <a href="#"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    <div class="circle-i circle-i2">
                      <i class="fa-regular fa-eye"></i>
                    </div>
                    <div class="circle-i circle-i3">
                      <i class="fa-solid fa-bars"></i>
                    </div>
                  </div>
                  <div class="card-body1 mt-3">
                    <a href="#" class="card-text fbook-title"
                      >Rich Dad Poor Dad</a
                    >
                    <div class="d-flex mt-3 mb-2">
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-regular fa-star-half-stroke stars fa-xs"></i>
                      <span class="five ms-1">5</span>
                    </div>
                    <a href="#" class="author mt-3">Karla Newman</a>
                    <div class="price d-flex mt-2">
                      <p class="card-text dolars">$170.03</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item caro1 ms-4">
            <div class="d-none d-lg-block col-2 border-end card-grops">
              <div class="product1">
                <div class="card2">
                  <img
                    src="../images/tsos.jpg"
                    class="card-img-top feature-img"
                    alt="..."
                  />
                  <div
                    class="icons d-flex flex-column align-items-center animated-icons"
                  >
                    <div class="circle-i circle-i1">
                      <a href="#"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    <div class="circle-i circle-i2">
                      <i class="fa-regular fa-eye"></i>
                    </div>
                    <div class="circle-i circle-i3">
                      <i class="fa-solid fa-bars"></i>
                    </div>
                  </div>
                  <div class="card-body1 mt-3">
                    <a href="#" class="card-text fbook-title"
                      >The Story of Success</a
                    >
                    <div class="d-flex mt-3 mb-2">
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-regular fa-star-half-stroke stars fa-xs"></i>
                      <i class="fa-regular fa-star regular-stars fa-xs"></i>
                      <span class="five ms-1">5</span>
                    </div>
                    <a href="#" class="author mt-3">Arthur Gonzalez</a>
                    <div class="price d-flex mt-2">
                      <p class="card-text dolars">$50.89</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item caro1 ms-4">
            <div class="d-none d-lg-block col-2 border-end card-grops">
              <div class="product1">
                <div class="card2">
                  <img
                    src="../images/al.jpg"
                    class="card-img-top feature-img"
                    alt="..."
                  />
                  <div
                    class="icons d-flex flex-column align-items-center animated-icons"
                  >
                    <div class="circle-i circle-i1">
                      <a href="#"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    <div class="circle-i circle-i2">
                      <i class="fa-regular fa-eye"></i>
                    </div>
                    <div class="circle-i circle-i3">
                      <i class="fa-solid fa-bars"></i>
                    </div>
                  </div>
                  <div class="card-body1 mt-3">
                    <a
                      href="#"
                      class="card-text fbook-title text-nowrap overflow-hidden"
                      width="10px"
                      >Annie Leibovitz: Wonderland</a
                    >
                    <div class="d-flex mt-3 mb-2">
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-regular fa-star regular-stars fa-xs"></i>
                      <span class="five ms-1">5</span>
                    </div>
                    <a href="#" class="author mt-3">Dana Chambers</a>
                    <div class="price d-flex mt-2">
                      <p class="card-text dolars">$316.15</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item caro1 ms-4">
            <div class="d-none d-lg-block col-2 border-end card-grops">
              <div class="product1">
                <div class="card2">
                  <img
                    src="../images/mdd.jpg"
                    class="card-img-top feature-img"
                    alt="..."
                  />
                  <div
                    class="icons d-flex flex-column align-items-center animated-icons"
                  >
                    <div class="circle-i circle-i1">
                      <a href="#"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    <div class="circle-i circle-i2">
                      <i class="fa-regular fa-eye"></i>
                    </div>
                    <div class="circle-i circle-i3">
                      <i class="fa-solid fa-bars"></i>
                    </div>
                  </div>
                  <div class="card-body1 mt-3">
                    <a href="#" class="card-text fbook-title"
                      >My Dearest Darkest</a
                    >
                    <div class="d-flex mt-3 mb-2">
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-regular fa-star-half-stroke stars fa-xs"></i>
                      <i class="fa-regular fa-star regular-stars fa-xs"></i>
                      <span class="five ms-1">5</span>
                    </div>
                    <a href="#" class="author mt-3">Enrique Wallace</a>
                    <div class="price d-flex mt-2">
                      <p class="card-text dolars">$914.53</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item caro1 ms-4">
            <div class="d-none d-lg-block col-2 border-end card-grops">
              <div class="product1">
                <div class="card2">
                  <img
                    src="../images/hosab.jpg"
                    class="card-img-top feature-img"
                    alt="..."
                  />
                  <div
                    class="icons d-flex flex-column align-items-center animated-icons"
                  >
                    <div class="circle-i circle-i1">
                      <a href="#"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    <div class="circle-i circle-i2">
                      <i class="fa-regular fa-eye"></i>
                    </div>
                    <div class="circle-i circle-i3">
                      <i class="fa-solid fa-bars"></i>
                    </div>
                  </div>
                  <div class="card-body1 mt-3">
                    <a href="#" class="card-text fbook-title"
                      >House of Sky and Breath</a
                    >
                    <div class="d-flex mt-3 mb-2">
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-regular fa-star-half-stroke stars fa-xs"></i>
                      <i class="fa-regular fa-star regular-stars fa-xs"></i>
                      <span class="five ms-1">5</span>
                    </div>
                    <a href="#" class="author mt-3">Ernesto Wades</a>
                    <div class="price d-flex mt-2">
                      <p class="card-text dolars">$72.99</p>
                      <p class="card-text ms-2">
                        <small class="text-muted text-decoration-line-through"
                          >$86.99</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item caro1 ms-4">
            <div class="d-none d-lg-block col-2 border-end card-grops">
              <div class="product1">
                <div class="card2">
                  <img
                    src="../images/each-of-us-a-desert.jpg"
                    class="card-img-top feature-img"
                    alt="..."
                  />
                  <div
                    class="icons d-flex flex-column align-items-center animated-icons"
                  >
                    <div class="circle-i circle-i1">
                      <a href="#"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    <div class="circle-i circle-i2">
                      <i class="fa-regular fa-eye"></i>
                    </div>
                    <div class="circle-i circle-i3">
                      <i class="fa-solid fa-bars"></i>
                    </div>
                  </div>
                  <div class="card-body1 mt-3">
                    <a href="#" class="card-text fbook-title"
                      >Surrounded by Idiots</a
                    >
                    <div class="d-flex mt-3 mb-2">
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-solid fa-star stars fa-xs"></i>
                      <i class="fa-regular fa-star regular-stars fa-xs"></i>
                      <span class="five ms-1">5</span>
                    </div>
                    <a href="#" class="author mt-3">Georgia Ramirez</a>
                    <div class="price d-flex mt-2">
                      <p class="card-text dolars">$825.85</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
