<div class="card-group c-g">
  <div class="bg">
    <img src="../images/bg1.jpg" alt="" />
  </div>
  <div class="card c-i">
    <img src="../images/rich.jpg" class="card-img-top c-i-t" alt="..." />
    <div class="card-body">
      <a href="#"> <strong>Rich Dad Poor Dad</strong></a>
      <div class="stars fa-xs">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <p class="card-text">
        <small class="tm">Misty Figueroa</small>
      </p>
      <p class="text-price">$316.15</p>
    </div>
  </div>

  <div class="card c-i">
    <img src="../images/success.jpg" class="card-img-top c-i-t" alt="..." />
    <div class="card-body">
      <a href="#"> <strong>The Story of Success</strong></a>
      <div class="stars fa-xs">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <p class="card-text c-i">
        <small class="tm">Arthur Gonzalez</small>
      </p>
      <p class="text-price">$50.89</p>
    </div>
  </div>

  <div class="card c-i">
    <img src="../images/wonderland.jpg" class="card-img-top c-i-t" alt="..." />
    <div class="card-body">
      <a href="#"> <strong>Annie Leibovitz:...</strong></a>
      <div class="stars fa-xs">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <p class="card-text">
        <small class="tm">Dana Chambers</small>
      </p>
      <p class="text-price">$316.15</p>
    </div>
  </div>

  <div class="card c-i">
    <img src="../images/dark.jpg" class="card-img-top c-i-t" alt="..." />
    <div class="card-body">
      <a href="#"> <strong>The Story of Success</strong></a>
      <div class="stars fa-xs">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <p class="card-text">
        <small class="tm">Enrique Wallace</small>
      </p>
      <p class="text-price">$914.53</p>
    </div>
  </div>
</div>
