<section class="cat-car mx-auto" style="width: 1415px;">
  <div class="container categoryy ms-0 me-0 mt-5 p-0">
    <div class="row d-flex first-row m-0" >

      <a href="#" class="p-0" style="flex-shrink: 1">
        <div class="col-12 col-lg-5">
          <div class="category-card">
            <img
              src="/src/images/ff.jpg"
              class="category-img"
              alt="Fiction & Fantasy"
            />
            <div class="link">
              <span class="link-dark link-name">Fiction & Fantasy</span>
              <p class="link-number">3 products</p>
            </div>
          </div>
        </div>
      </a>

      <a href="#" style="flex-shrink: 1" >
        <div class="col-12 col-lg-2">
          <div class="category-card">
            <img
              src="/src/images/history.jpg"
              class="category-img"
              alt="History"
            />
            <div class="link">
              <span class="link-dark link-name">History</span>
              <p class="link-number">2 products</p>
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="p-0" style="flex-shrink: 1">
      <div class="col-12 col-lg-4">
          <div class="category-card">
          <img
              src="/src/images/mystery.jpg"
              class="category-img"
              alt="Mystery, Thriller"
          />
          <div class="link" style="width: 200px;">
              <span class="link-dark link-name">Mystery, Thriller</span>
              <p class="link-number">6 products</p>
          </div>
          </div>
      </div>
      </a>
    </div>

      <div class="row d-flex second-row mt-2 m-0" >

        <a href="#" class="p-0" style="flex-shrink: 1">
          <div class="col-12 col-lg-3">
            <div class="category-card">
              <img
                src="/src/images/romance.jpg"
                class="category-img"
                alt="Romance"
              />
              <div class="link">
                <span class="link-dark link-name">Romance</span>
                <p class="link-number">3 products</p>
              </div>
            </div>
          </div>
        </a>

        <a href="#" style="flex-shrink: 1">
          <div class="col-12 col-lg-4">
            <div class="category-card">
              <img
                src="/src/images/teen.jpg"
                class="category-img"
                alt="Romance"
              />
              <div class="link" style="width: 200px;">
                <span class="link-dark link-name">Teen & Young Adult</span>
                <p class="link-number">16 products</p>
              </div>
            </div>
          </div>
        </a>

        <a href="#" class="p-0" style="flex-shrink: 1">
          <div class="col-12 col-lg-4">
            <div class="category-card">
              <img
                src="/src/images/religion.jpg"
                class="category-img"
                alt="Romance"
              />
              <div class="link">
                <span class="link-dark link-name">Religion</span>
                <p class="link-number">18 products</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      
  </div>
</section>
