<section class="deals-week">
  <div class="deals-head d-flex mb-4">
    <h1 class="deals-of-week mt-5 me-2">Deals Of The Week</h1>
    <div class="clock ms-5 mt-5 d-flex d-sm-none d-md-flex" style="max-width: auto; max-height: 45px">
      <i class="fa-regular fa-clock ms-5 me-3"></i>
      <p class="clock-text my-auto me-5">29:23:04:58</p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4 theme-card m-auto">
    <div class="col border-bottom">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0 border-end">
          <div class="col-md-4">
            <img
              src="../images/hosab.jpg"
              class="img-fluid img-book"
              alt="..."
            />
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body ms-3">
              <a href="#" class="card-text book-title"
                >House of Sky and Breathe</a
              >
              <div class="d-flex mt-3 mb-2">
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-regular fa-star-half-stroke stars fa-xs"></i>
                <i class="fa-regular fa-star regular-stars fa-xs"></i>
                <span class="five ms-1">5</span>
              </div>
              <a href="#" class="card-text1 mt-3">Ernesto Wade</a>
              <div class="price d-flex mt-2">
                <p class="card-text dolars">$72.99</p>
                <p class="card-text ms-2">
                  <small class="text-muted text-decoration-line-through"
                    >$86.99</small
                  >
                </p>
              </div>
              <div class="sold d-flex mt-2">
                <p class="card-text2">Already sold:</p>
                <p class="card-text3 ms-1">24/99</p>
              </div>
              <div class="progress">
                <div
                  class="progress-bar progress-el"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col border-bottom">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../images/sj.jpg" class="img-fluid img-book" alt="..." />
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body ms-3">
              <a href="#" class="card-text book-title"
                >A Crown of Petals and Ice</a
              >
              <div class="d-flex mt-3 mb-2">
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-regular fa-star-half-stroke stars fa-xs"></i>
                <span class="five ms-1">5</span>
              </div>
              <a href="#" class="card-text1 mt-3">Karla Newman</a>
              <div class="price d-flex mt-2">
                <p class="card-text dolars">$71.65</p>
                <p class="card-text ms-2">
                  <small class="text-muted text-decoration-line-through"
                    >$95.91</small
                  >
                </p>
              </div>
              <div class="sold d-flex mt-2">
                <p class="card-text2">Already sold:</p>
                <p class="card-text3 ms-1">15/30</p>
              </div>
              <div class="progress">
                <div
                  class="progress-bar progress-el"
                  role="progressbar"
                  style="width: 50%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0 border-end">
          <div class="col-md-4">
            <img src="../images/hb.jpg" class="img-fluid img-book" alt="..." />
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body ms-3">
              <a href="#" class="card-text book-title">Heavenly Bodies</a>
              <div class="d-flex mt-3 mb-2">
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-regular fa-star-half-stroke stars fa-xs"></i>
                <i class="fa-regular fa-star regular-stars fa-xs"></i>
                <span class="five ms-1">5</span>
              </div>
              <a href="#" class="card-text1 mt-3">Karla Newman</a>
              <div class="price d-flex mt-2">
                <p class="card-text dolars">$33.52</p>
                <p class="card-text ms-2">
                  <small class="text-muted text-decoration-line-through"
                    >$53.00</small
                  >
                </p>
              </div>
              <div class="sold d-flex mt-2">
                <p class="card-text2">Already sold:</p>
                <p class="card-text3 ms-1">20/99</p>
              </div>
              <div class="progress">
                <div
                  class="progress-bar progress-el"
                  role="progressbar"
                  style="width: 20%"
                  aria-valuenow="20"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../images/hsg.jpg" class="img-fluid img-book" alt="..." />
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body ms-3">
              <a href="#" class="card-text book-title">His Saving Grace</a>
              <div class="d-flex mt-3 mb-2">
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-solid fa-star stars fa-xs"></i>
                <i class="fa-regular fa-star-half-stroke stars fa-xs"></i>
                <span class="five ms-1">5</span>
              </div>
              <a href="#" class="card-text1 mt-3">Misty Figueroa</a>
              <div class="price d-flex mt-2">
                <p class="card-text dolars">$60.87</p>
                <p class="card-text ms-2">
                  <small class="text-muted text-decoration-line-through"
                    >$288.74</small
                  >
                </p>
              </div>
              <div class="sold d-flex mt-2">
                <p class="card-text2">Already sold:</p>
                <p class="card-text3 ms-1">24/99</p>
              </div>
              <div class="progress">
                <div
                  class="progress-bar progress-el"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
