<section class="discover w-100">
  <div class="discover-div ">

    <div class="elementor">
      <div class="elementor-container">
        <div class="elementor-heading-title">
          <h2>Bookory Store Meetup.</h2>
        </div>
        <div class="elementor-description">
          Meet kindred book lovers is in a local meetup Bookory! Fiction or non fiction, paperback or hardcover, you
          read
          a new book every month.
        </div>
      </div>


    </div>
    <div class="elementor-widget-container row">
      <div class="widget d-none d-lg-block col-lg-1">
        <div class="widget-circle">
          <h3>1M+</h3>
        </div>
        <div class="widget-description">
          <p>Books Collection</p>
        </div>
      </div>

      <div class="widget d-none d-lg-block col-lg-1">
        <div class="widget-circle">
          <h3>50K+</h3>
        </div>
        <div class="widget-description">
          <p>Books Collection</p>
        </div>
      </div>

      <div class="widget d-none d-lg-block col-lg-1">
        <div class="widget-circle">
          <h3>6,679</h3>
        </div>
        <div class="widget-description">
          <p>Books Collection</p>
        </div>
      </div>

    </div>

    <div class="elementor-button">
      <a href="#">
        <span>Discover Now<i class="fa-solid fa-angle-right"></i></span>
      </a>

    </div>
  </div>
</section>