<div
id="carouselExampleDark"
class="carousel carousel-dark slide main-slider slidera"
data-bs-ride="carousel"
>
<div class="carousel-indicators">
  <button
    type="button btn-slider"
    data-bs-target="#carouselExampleDark"
    data-bs-slide-to="0"
    class="active"
    aria-current="true"
    aria-label="Slide 1"
  ></button>
  <button
    type="button btn-slider"
    data-bs-target="#carouselExampleDark"
    data-bs-slide-to="1"
    aria-label="Slide 2"
  ></button>
</div>
<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="10000" >
               <div class="d-flex con">
                    <div class="justify-content-start mi">
                        <img src="../images/backgroundbook.png" style="width:80%;" class="book justify-content-start my-4" />
                    </div>
                    <div class="mp justify-content-center text">
                        <p class="sp text-center">BEST BOOKSHELF IN TOWN</p>
                        <h4 class="text-center h2"><strong>Fiction Classics for</strong></h3>
                        <h4 class="text-center h2"><strong>Fall & Winter Reading</strong></h4>
                        <p class="text-center limited">Limited Time Only. While Supplies Last!</p>
                        <div class="text-center">
                        <button class="btn btn-light button-shop" type="submit">Shop Now</button>
                        </div>
                    </div>
               </div>
    </div>
  <div class="carousel-item" data-bs-interval="2000" >
            <div class="d-flex con">
                <div class="justify-content-start mi">
                    <img src="../images/apple.png" style="width:80%;" class="book my-4" />
                </div>
                <div class="mp justify-content-center text">
                    <p class="sp text-center">BEST BOOKSHELF IN TOWN</p>
                    <h4 class="text-center h2"><strong>The Best Books</strong></h4>
                    <h4 class="text-center h2"><strong>of 2022</strong></h4>
                    <p class="text-center limited">
                    Limited Time Only. While Supplies Last!
                    </p>
                    <div class="text-center">
                    <button class="btn btn-light button-shop" type="submit">Shop Now</button>
                    </div>
                </div>
            </div>
  </div>
</div>
</div>