<section class="subscribe-component mt-5">
  <div class="subscribe1 d-flex mx-auto mb-5 text-center">
    <div class="subscribe-text centered">
      <p class="text1 mb-2">Get <span class="span1">10%</span> Off Your Order!</p>
      <span class="span2 mt-0">Enter your email and receive a 10% discount on your next order!</span>
      
      <div class="input-group1 mb-3 d-flex mt-4">
        
        <input class="form-control" type="email" placeholder="Your email address" aria-label="Subscribe" />
        <button class="btn subscribe-btn" type="button" id="button">Subscribe <i class="fa-regular fa-greater-than great"></i></button>
      </div>
    </div>
  </div>
</section>