<div class="contain-b">
  <div class="hb row">
    <div class="col-4 col-lg-3">
      <h4><strong>Top 100 Books</strong></h4>
    </div>
    <div class="d-none d-lg-block col-lg-7">
      <hr />
    </div>
    <div class="d-none d-lg-block col-3 col-lg-2">
      <button type="button" class="btn btn-primary btn-f">
        <strong class="margin"> Discover Now</strong
        ><i class="fa-solid fa-angle-right"></i>
      </button>
    </div>
  </div>


  <div class="row row-cols-lg-3 contain-f overflow-hidden">
    <div class="card card-100 border-end rounded-0">
      <div class="row g-0">
        <div class="col-4">
          <img src="../images/rich.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col-8">
          <div class="card-body">
            <a href="#"> <strong>Rich Dad Poor Dad</strong> </a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p class="card-text">
              <small class="tm">Misty Figureoa</small>
            </p>
            <p class="text-price">$170.03</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-100 border-end rounded-0">
      <div class="row g-0">
        <div class="col-4">
          <img src="../images/success.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col-8">
          <div class="card-body">
            <a href="#"> <strong>The Story of Success</strong> </a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="card-text">
              <small class="tm">Misty Figureoa</small>
            </p>
            <p class="text-price">$50.89</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-100">
      <div class="row g-0">
        <div class="col-4">
          <img src="../images/wonderland.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col-8">
          <div class="card-body">
            <a href="#"> <strong>Annie Leibovitz:...</strong> </a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="card-text">
              <small class="tm">Dana Chambers</small>
            </p>
            <p class="text-price">$316.15</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line overflow-hidden">
    <hr />
  </div>

  <div class="row row-cols-lg-3 g-4 contain-s overflow-hidden">
    <div class="card card-100 border-end rounded-0">
      <div class="row g-0">
        <div class="col-4">
          <img src="../images/dark.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col-8">
          <div class="card-body">
            <a href="#"> <strong>My Dearest Darkest</strong> </a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="card-text">
              <small class="tm">Enrique Wallace</small>
            </p>
            <p class="text-price">$914.53</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-100 border-end rounded-0">
      <div class="row g-0">
        <div class="col-4">
          <img src="../images/sky.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col-8">
          <div class="card-body">
            <a href="#"> <strong>House of Sky and Breath</strong> </a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="card-text">
              <small class="tm">Ernesto Wade</small>
            </p>
            <p class="text-price">
              $72.99<small class="text-muted"><del>$86.99</del></small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-100">
      <div class="row g-0">
        <div class="col-4">
          <img src="../images/idiots.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col-8">
          <div class="card-body">
            <a href="#"> <strong>Surrounded by Idiots</strong> </a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="card-text">
              <small class="tm">Georgia Ramirez</small>
            </p>
            <p class="text-price">$825.85</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
