<section class="trending">
  <div class="mt-5">
    <h4 class="bhead">Trending Products</h4>
  </div>
  
  <div class="containerb">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../images/life-flight.jpg" class="img-t" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#"> <strong>Life Flight</strong></a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="card-text">
              <small class="tm">Misty Figueroa</small>
            </p>
            <p class="text-price">$115.72</p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../images/his-saving-grace.jpg" class="img-t" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#"> <strong>His Saving Grace</strong> </a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p class="card-text">
              <small class="tm">Misty Figueroa</small>
            </p>
            <p class="text-price">
              $60.87 <small class="text-muted"><del>$288.74</del></small>
            </p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../images/heartland-stars.jpg" class="img-t" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#"> <strong> Heartland Stars </strong></a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p class="card-text">
              <small class="tm">Ernesto Wade</small>
            </p>
            <p class="text-price">$664.55</p>
            <p></p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../images/goodbye-again.jpg" class="img-t" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#"> <strong> Goodbye Again</strong></a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p class="card-text">
              <small class="tm">Gilberto Mills </small>
            </p>
            <p class="text-price">$989.56</p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../images/wonderland.jpg" class="img-t" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#"> <strong> Annie Leibovitz: Wonderland</strong></a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p class="card-text">
              <small class="tm">Rita James</small>
            </p>
            <p class="text-price">
              $17.29 <small class="text-muted"><del>$35.19</del></small>
            </p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../images/the-good-egg.jpg" class="img-t" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#"> <strong>The Good Egg </strong> </a>
            <div class="stars fa-2xs">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p class="card-text">
              <small class="tm">Arthur Gonzalez</small>
            </p>
            <p class="text-price">$289.38</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

