<div class="container">
    <div class="row type-of-books justify-content-center justify-content-sm-between">
        <div class="header-alt-icon col-4 col-sm-1 d-flex flex-column justify-content-center align-items-center col-">
            <div class="icomo">
                <a href="#"><i class="icon-skull-svgrepo-com"></i></a>
            </div>
            <div>
                <h6>Horror</h6>
            </div>
        </div>
    
        <div class="header-alt-icon col-4 col-sm-1 d-flex flex-column justify-content-center align-items-center">
            <div class="icomo">
                <a href="#"><i class="icon-male-love-and-romance-svgrepo-com-1"></i></a>
            </div>
            <div>
                <h6>Romance</h6>
            </div>
        </div>
    
        <div class="header-alt-icon col-4 col-sm-1 d-flex flex-column justify-content-center align-items-center">
            <div class="icomo">
                <a href="#"><i class="icon-unicorn-svgrepo-com-1"></i></a>
            </div>
            <div>
                <h6>Fantasy</h6>
            </div>
        </div>
    
        <div class="header-alt-icon col-4 col-sm-1 d-flex flex-column justify-content-center align-items-center">
            <div class="icomo">
                <a href="#"><i class="icon-ankh-svgrepo-com"></i></a>
            </div>
            <div>
                <h6>Religion</h6>
            </div>
        </div>
    
        <div class="header-alt-icon col-4 col-sm-1 d-flex flex-column justify-content-center align-items-center">
            <div class="icomo">
                <a href="#"><i class="icon-family-svgrepo-com-1"></i></a>
            </div>
            <div>
                <h6>Family</h6>
            </div>
        </div>
    
        <div class="header-alt-icon col-4 col-sm-1 d-flex flex-column justify-content-center align-items-center">
            <div class="icomo">
                <a href="#"><i class="icon-space-ship-svgrepo-com"></i></a>
            </div>
            <div>
                <h6>Fiction</h6>
            </div>
        </div>
    
        <div class="header-alt-icon col-4 col-sm-1 d-flex flex-column justify-content-center align-items-center">
            <div class="icomo">
                <a href="#"><i class="icon-om-svgrepo-com"></i></a>
            </div>
            <div>
                <h6>Philosophy</h6>
            </div>
        </div>
    
    
    
    </div>
</div>
